@charset "utf-8";
/* CSS Document */
/* xs <576px */
/* sm ≥576px	*/
/* md ≥768px */
/* lg ≥992px */
/* xl ≥1200px */
@media only screen and (max-width: 575px) {
  .green-offer-button {
    margin-top: 10px;
  }
  .food-delivery-col, .meal-kit-col, .about-food-delivery-col, .about-meal-kits-col, .extras-col {
    padding-right: 30px;
    padding-left: 30px;
  }
}
@media only screen and (max-width: 300px) {
  .coupon-clip img {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .green-offer-button {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .homepage-hero {
    text-align: center;
  }
}
body {
  background-color: #F7F7F7;
  position: relative
}
.homepage-hero {
  background-image: url('../images/postmates-hero.jpg');
  padding: 50px 0;
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  color: #FFFFFF;
}
.homepage-hero:before {
  background-color: #000000 !important;
  opacity: .6 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
}
h1 {
  font-family: Fedra, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 36px;
  line-height: 1.11111em;
  margin: 10px 0;
}
h2 {
  font-family: Fedra, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 22px;
  line-height: 1.11111em;
}
.offer-box {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
  /*height:100%;*/
  margin-bottom: 25px;
  position: relative;
  padding-bottom: 25px;
}
.offer-box .container, .offer-box .row {
  height: 100%;
}
.offer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 5px 5px 0 0;
}
.offer-logo img {
  width: 200px;
}
.offer-bullets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}
.offer-coupon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px
}
.coupon-clip {
  border-radius: 3px;
  padding: 15px;
  text-transform: uppercase;
  line-height: 20px;
  color: #424d56;
  width: 100%;
  /*border: 2px dashed #0277bd;
  background-color: rgb(2, 119, 189, .1);*/
  border: 2px dashed rgba(66, 77, 86, 0.4);
  background-color: rgba(67, 67, 67, 0.069);
}
.coupon-clip img {
  height: 50px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
}
.coupon-promo {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 25px;
}
.coupon-promo span {
  font-weight: 700;
  font-size: 18px;
}
.detail-cta {
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.detail-cta p {
  margin: 10px 0 0 0;
}
.detail-cta a {
  color: #0277bd;
}
.green-offer-button {
  color: #fff;
  background-color: #499300;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .08333rem solid transparent;
  padding: .75rem 1.25rem;
  font-size: 1.1rem;
  line-height: 1.5;
  border-radius: 3px;
  width: 100%;
}
.green-offer-button:hover {
  color: #fff;
  background-color: rgba(73, 147, 0, 0.7);
  text-decoration: none;
}
.about-food-delivery {
  background-image: url('../images/backgrounds/pasta-background.jpg');
  background-size: cover;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
  color: #F7F7F7;
  background-position: center;
}
.about-meal-kits {
  background-image: url('../images/backgrounds/salmon-background.jpg');
  background-size: cover;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
  color: #F7F7F7;
  background-position: center;
}
.about-text-bg {
  background-color: rgba(0, 0, 0, 0.4);
  padding: 25px;
  border-radius: 5px;
}
.about-text-bg h4 {
	font-size: 18px;
	font-weight: 500;
}
.about-text-bg p {
	margin-bottom: 0;
}
.extras-col {
	display: none;
}

.footer {
	padding: 25px 30px;
	background-color: #20272b;
}

