@charset "utf-8";
/* CSS Document */
/* xs <576px */
/* sm ≥576px	*/
/* md ≥768px */
/* lg ≥992px */
/* xl ≥1200px */
@media only screen and (max-width: 575px) {
  .green-offer-button, .yellow-offer-button, .orange-offer-button {
    margin-top: 10px;
  }
  .food-delivery-col, .meal-kit-col, .about-food-delivery-col, .about-meal-kits-col, .about-gourmet-col, .about-subscription-boxes-col, .extras-col, .category-col {
    padding-right: 30px;
    padding-left: 30px;
  }
  h1 {
    font-size: 1.3rem !important;
  }
  .hero-text {
    padding: 0 25px !important;
  }
  .tooltip {
	display: block !important;
    float: none !important;
  }
  .modal-promo-code-input {
	max-width: 100% !important;
  }
}
@media only screen and (max-width: 300px) {
  .coupon-clip img {
    margin-bottom: 10px;
  }
}
@media only screen and (min-width: 768px) {
  .green-offer-button, .yellow-offer-button, .orange-offer-button {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 767px) {
  .homepage-hero {
    text-align: center;
  }
  h1 {
    font-size: 1.5rem !important;
  }
  .hero-text {
    padding: 0 40px !important;
  }
}
@media only screen and (max-width: 1200px) {
  .main-navigation li {
    font-size: 17px !important;
    margin: 0 15px !important;
  }
}
@media only screen and (max-width: 992px) {
  .main-navigation {
    display: none !important;
  }
  .featured-offer-stripe {
	display: none !important;
  }
  .featured-offer-stripe + .offer-logo {
    border-radius: 5px 5px 0 0 !important;
  }
  .empty-featured-offer-stripe {
	display: none !important;
  }
}
@media only screen and (min-width: 993px) {
  .hamburger, .hamburger-dropdown {
    display: none !important;
  }
}
@media only screen and (max-width: 300px) {
  .hamburger, .hamburger-dropdown {
    display: none !important;
  }
}
body {
  background-color: #F7F7F7;
  position: relative
}
/***************************/
/*****NAVIGATION STYLES*****/
/***************************/
.main-logo {
  width: 200px;
  display: inline-block;
  vertical-align: middle;
  margin-top: -10px;
}
.navigation-bar {
  background-color: rgba(0, 0, 0, 0.90);
  height: 70px;
  line-height: 75px;
}
.main-navigation {
  display: inline-block;
  vertical-align: middle;
}
.main-navigation ul {
  margin: 0;
  list-style: none;
}
.main-navigation li {
  display: inline-block;
  text-transform: uppercase;
  font-size: 18px;
  margin: 0 20px;
}
.main-navigation a {
  color: #eeeeee;
  font-weight: 400;
}
.main-navigation a:hover {
  text-decoration: none;
  border-top: 2px solid #FFCB29;
  border-bottom: 2px solid #FFCB29;
}
.hamburger {
  display: inline-flex;
  position: absolute;
  right: 0;
  margin-top: 7px;
}
.hamburger-dropdown {
  position: absolute;
  right: 0px;
  top: 70px;
  width: 100%;
  z-index: 9999;
}
.hamburger-menu {
  background-color: #343a40;
  padding: 25px;
  text-transform: uppercase;
}
.hamburger-menu h5 {
  color: #ffffff;
}
.hamburger-menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.hamburger-menu li {
  line-height: normal;
  font-size: 17px;
  padding: 12px 0;
  border-bottom: 1px solid rgb(255, 255, 255, .25);
}
.hamburger-menu li a {
  color: rgb(255, 255, 255, .5);
}
.hamburger-menu li a:hover {
  color: #FFCB29;
  text-decoration: none;
}
/*********************/
/*****HERO STYLES*****/
/*********************/
.homepage-hero {
  background-image: url('../images/postmates-hero.jpg');
  padding: 50px 0;
  position: relative;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  overflow: hidden;
  color: #FFFFFF;
  text-align: center;
}
.homepage-hero:before {
  background-color: #000000 !important;
  opacity: .6 !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: "";
  position: absolute;
}
.hero-text {
  position: relative;
  padding: 0 100px;
}
h1 {
  font-family: Fedra, Tahoma, sans-serif;
  font-weight: bold;
  font-size: 2.8rem;
  line-height: 1.3em;
  margin: 10px 0;
}
h2 {
  font-family: Fedra, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 1.2rem;
  line-height: 1.11111em;
}
/************************/
/*****OFFERS STYLES*****/
/************************/

.featured-offer-stripe {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px 5px 0 0;
  background-color: #FFCB29;
  height: auto;
  padding: 5px;
  font-weight: 500;
}
.featured-offer-stripe p, .empty-featured-offer-stripe p {
  margin:0;
}
.featured-offer-stripe + .offer-logo {
  border-radius: 0;
}
.empty-featured-offer-stripe {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  padding: 0;
  font-weight: 500;
}
.offer-box {
  background: #ffffff;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
  /*height:100%;*/
  margin-bottom: 25px;
  position: relative;
  padding-bottom: 25px;
}
.offer-box .container, .offer-box .row {
  height: 100%;
}
.offer-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  border-radius: 5px 5px 0 0;
}
.offer-logo img {
  width: 200px;
}
.offer-bullets {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 25px;
}
.offer-coupon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 25px
}
.coupon-clip {
  border-radius: 3px;
  padding: 15px;
  line-height: 20px;
  color: #424d56;
  width: 100%;
  /*border: 2px dashed #0277bd;
  background-color: rgb(2, 119, 189, .1);*/
  border: 2px dashed rgba(66, 77, 86, 0.4);
  background-color: rgba(67, 67, 67, 0.069);
}
.coupon-clip img {
  height: 50px;
  margin-right: 12px;
  display: inline-block;
  vertical-align: middle;
}
.coupon-promo {
  display: inline-block;
  vertical-align: middle;
  font-size: 1rem;
  line-height: 25px;
}
.coupon-promo span {
  font-weight: 700;
  font-size: 1rem;
  text-transform: uppercase;
}
.detail-cta {
  /*display: flex;*/
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  display: none;
}
.detail-cta p {
  margin: 10px 0 0 0;
}
.detail-cta a {
  color: #0277bd;
}
.featured-tiles .detail-cta {
  display: none !important;
}
/********************/
/*****CTA STYLES*****/
/********************/
.green-offer-button {
  color: #fff;
  background-color: #499300;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .08333rem solid transparent;
  padding: .50rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  width: 100%;
}
.green-offer-button:hover {
  color: #fff;
  background-color: rgba(73, 147, 0, 0.7);
  text-decoration: none;
}
.yellow-offer-button {
  color: #0F1111;
  background-color: #FFD814;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .08333rem solid #ced1d2;
  padding: .50rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
}
.yellow-offer-button:hover {
  color: #0F1111;
  background-color: #F7CA00;
  text-decoration: none;
}
.orange-offer-button {
  color: #0F1111;
  background-color: #f79800;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .08333rem solid #ced1d2;
  padding: .50rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 3px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
}
.orange-offer-button:hover {
  color: #0F1111;
  background-color: #ea9000;
  text-decoration: none;
}
/*******************************/
/*****ABOUT CATEGORY STYLES*****/
/*******************************/
.about-meal-kits {
  background-image: url("../images/backgrounds/meal-kits-thumb-bg.jpg");
  background-size: cover;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
  color: #F7F7F7;
  background-position: center;
}
.about-subscription-boxes {
  background-image: url("../images/backgrounds/subscription-boxes-thumb-bg.jpg");
  background-size: cover;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
  color: #F7F7F7;
  background-position: center;
}
.about-gourmet {
  background-image: url("../images/backgrounds/gourmet-thumb-bg.jpg");
  background-size: cover;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
  color: #F7F7F7;
  background-position: center;
}
.about-food-delivery {
  background-image: url("../images/backgrounds/food-delivery-thumb-bg.jpg");
  background-size: cover;
  border-radius: 5px;
  padding: 0 15px 0 15px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
  color: #F7F7F7;
  background-position: center;
}
.about-text-bg {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 25px;
  border-radius: 5px;
}
.about-text-bg h4 {
  font-size: 18px;
  font-weight: 500;
}
.about-text-bg p {
  margin-bottom: 0;
}
/******************************/
/*****HOMEPAGE TILE STYLES*****/
/******************************/
.extras-col {
  display: block;
}
.featured-tiles {
  padding: 50px 0 25px 0;
}
.category-tiles {
  padding: 0 0 25px 0;
}
.restaurant-tiles {
  padding: 50px 0 25px 0;
  background-color: #cacccf;
  display: none;
}
.featured-tiles h3, .category-tiles h3, .restaurant-tiles h3 {
  font-family: Fedra, Tahoma, sans-serif;
  font-weight: lighter;
  font-size: 24px;
  color: #424d56;
  text-align: center;
  margin-bottom: 25px;
}
/*****************************/
/*****CATEGORY BOX STYLES*****/
/*****************************/
.category-box {
  background: #333333;
  background-size: cover;
  background-position: center;
  border: 1px solid #e2e2e2;
  border-radius: 5px;
  position: relative;
  padding: 0;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 3px 8px;
  color: #F7F7F7;
  height: 180px;
}
.category-box .container, .category-box .row {
  height: 100%;
}
.category-text {
  background: rgba(0, 0, 0, 0.69);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  border-radius: 0 0 5px 5px;
  padding: 15px 0;
}
.category-box h4 {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0;
}
.category-box:hover {
  color: #FFCB29;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 3px 8px;
}
.meal-kits-bg {
  background-image: url("../images/backgrounds/meal-kits-thumb-bg.jpg");
}
.subscription-boxes-bg {
  background-image: url("../images/backgrounds/subscription-boxes-thumb-bg.jpg");
}
.gourmet-bg {
  background-image: url("../images/backgrounds/gourmet-thumb-bg.jpg");
}
.food-delivery-bg {
  background-image: url("../images/backgrounds/food-delivery-thumb-bg.jpg");
}
/***********************/
/*****FOOTER STYLES*****/
/***********************/
.footer {
  padding: 25px 30px;
  background-color: #20272b;
}
/*********************************/
/*****PROMO CODE MODAL STYLES*****/
/*********************************/
.tooltip {
  position: inherit;
  display: inline-block;
  opacity: inherit !important;
  float: right;
}
.tooltip .tooltiptext {
  visibility: hidden;
  width: 140px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 27%;
  margin-left: -40px;
  transition: opacity 0.3s;
  font-size: 1rem
}
.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
.promo-code-copy-button {
  color: #222222;
  background-color: #FFC723;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: none;
  padding: .50rem 1rem;
  font-size: 1.2rem;
  line-height: 1.5;
  border-radius: 6px;
  width: 100%;
  box-shadow: 0 2px 5px 0 rgba(213, 217, 217, .5);
}
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.modal-header {
  border: none;
  padding: .5rem 1rem 0 1rem;
}
.modal-body .offer-logo {
  border-radius: 0;
}
.modal-offer {
  padding: 25px 0;
  text-align: center;
}
.modal-offer h4 {
  font-size: 1.5rem;
  font-weight: 500;
}
.modal-offer h5 {
  font-size: .9rem;
  font-weight: 400;
  color: #666666;
}
.modal-promo-code-clip {
  border: 1px solid #FFC723;
  padding: 5px;
  border-radius: 10px;
  overflow: hidden;
  margin: 0 30px;
  background: rgba(255, 199, 35, .069);
}
.modal-promo-code-input {
  padding: 0;
  font-size: 2.0rem;
  line-height: 1.4;
  max-width: 310px;
  font-weight: 700;
  font-family: sans-serif;
  user-select: none;
  border: none;
  text-align: center;
  float: left;
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  white-space: nowrap;
  background: none;
  outline: none;
}
.modal-footer {
  text-align: center;
  display: block;
  padding: .5rem;
  background: #f9f9f9;
}
.modal-footer p {
  margin-bottom: 0;
}
.modal-footer a {
  color: #008ba0;
}